[dir='rtl'],.rtl.blog, .rtl.archive, .rtl.single-post {direction: rtl;unicode-bidi: embed;}

.rtl .full-description span.number {left:0;text-align: left;}
.rtl .full-description span.number span {margin:0 10px 0 0}


.rtl .mp-vc-items .iso-thumbnail .featured-item-ribbon  {background:url(../framework/theme-options/images/img-featured-rtl.png)}

/*===============================================================
		0. AUDIO / VIDEO
===============================================================*/
.rtl .footer .mp-thumb-audio .audio-player {padding-top:5px;}
.rtl .wp-playlist-tracks .wp-playlist-item{text-align: right;}

/*===============================================================
		1. Visual Composer
===============================================================*/
.rtl .edd_widget_title_vc h3{padding-left:10px;padding-right: inherit;float:right}
.rtl .mp-vc-items .vc-post-items .vc-fes-thumbnails {float:right;margin:0 0 10px 20px;}

/*===============================================================
		2. FES / CUSTOMER Dashboard
===============================================================*/
.rtl .edd_widget_title h3, .rtl .fes-form h2.fes-section-title {padding-left:10px;padding-right: inherit;}

.rtl.edd_history.mp-purchases .edd_download_download_name {text-align:right!important;}
.rtl .mp-full-dashboard #edd_user_history td, .rtl .mp-full-dashboard #edd_user_history th {text-align:right}

.rtl .mp-full-dashboard #edd_user_history .edd_download_download.mp-thumbnail {padding: 20px 20px 20px 0;}
.rtl .customer-dashboard-content .mp-account-overview .stats-finance{float:right}

.rtl .customer-dashboard-menu ul.menu li {float:right;}

.rtl .mp-fes-fullwidth .fes-vendor-menu ul li {float:right}
.rtl .mp-full-dashboard #fes-comments-table tr, .rtl .mp-full-dashboard #fes-comments-table th{text-align:right;}
.rtl .mp-full-dashboard #fes-comments-table .fes-author-img {float: right;}
.rtl .mp-full-dashboard #fes-comments-table .fes-author-img img {margin: 0 0 20px 15px;}
.rtl .mp-full-dashboard #fes-comments-table #fes-comment-author {text-align: right;}
.rtl .mp-full-dashboard #fes-comments-table #fes-product-name {text-align: right;}

.rtl .mp-full-dashboard .checkbox input[type=checkbox], .rtl .mp-full-dashboard .checkbox-inline input[type=checkbox], .rtl .mp-full-dashboard .radio input[type=radio], .rtl .mp-full-dashboard .radio-inline input[type=radio] {margin-right: -20px;}
.rtl .mp-full-dashboard ul {padding-right:0px;}

.rtl .mp-full-dashboard #fes-product-list tr, .rtl .mp-full-dashboard #fes-product-list th{text-align:right;}
.rtl .mp-full-dashboard #fes-product-list thead tr th:last-child{text-align:right!important;}
.rtl .mp-full-dashboard #fes-product-list thead tr th:nth-child(n+3) {text-align:center;}
.rtl .mp-full-dashboard #fes-product-list td.fes-product-list-td.mp-thumbnail { padding-right: 20px!important;}
.rtl .mp-full-dashboard #fes-product-list th:nth-child(-n+2), .rtl .mp-full-dashboard #fes-product-list thead tr th:last-child {padding-right: 20px!important;}

.rtl .mp-full-dashboard #fes-product-list td.fes-product-list-td.mp-title .mp-actions a {float:right;margin: 0 2px;}
.rtl .mp-full-dashboard #fes-product-list td.fes-product-list-td.mp-title .mp-actions a:first-child {margin-right:0}
.rtl .mp-full-dashboard .fes-submission-form .fes-label {float: right;padding: 0 0 10px 20px;}

.rtl .mp-full-dashboard .edd_user_commissions tr, .rtl .mp-full-dashboard .edd_user_commissions th{text-align:right;}
.rtl .mp-full-dashboard #fes-order-list tr, .rtl .mp-full-dashboard #fes-order-list th{text-align:right;}

.rtl .mp-full-dashboard .edd-wish-list li span.edd-wl-edit {float: left;}
.rtl .mp-full-dashboard .edd-wish-list li span.edd-wl-item-title {text-align: right;}


.rtl .mp-full-dashboard h2.mp-invoice-title {text-align: left;}

.rtl  #edd_purchase_receipt_products th, .rtl  #edd_purchase_receipt_products td{text-align: right;}
.rtl  #edd_purchase_receipt_products .mp-dir {text-align:left!important}
.rtl  #mp-receipt-billing .first-half {text-align: right;}
.rtl  #mp-receipt-billing .mp-pay-id, .rtl  #mp-receipt-billing th {text-align: right;}

.rtl .mp-full-dashboard .mp-vc-items .mp_author {text-align: right;}
.rtl .mp-full-dashboard .mp-vendor-stats {float:left;display: inline-block;}
.rtl .mp-full-dashboard .mp-vendor-avatar{float:right;display: inline-block;}
.rtl .mp-vendor-page .author-avatar img {margin:0 0 15px 20px;float: right;}
.rtl .mp-vendor-page .mp-vendor-stats .row > div {float:right}
.rtl .mp-vendor-page .mp-vendor-page .text-subline {text-align:center}

/*===============================================================
		3. Search
===============================================================*/
.rtl .form-control {float:left;padding: 8px 10px 8px 80px;text-align:right;}
.rtl .search-form button {position:absolute;left:0!important;right: auto !important;}  
.rtl .search-form button[type="submit"] {background:none!important}

.rtl .search-style-2 .form-control { font-size:14px; height:auto; padding: 18px 20px 18px 80px;}
.rtl .search-style-2.normal #search-form, .search-style-2.normal .search-form button {background-color: #fff;}
.rtl .search-style-2 .search-form button i {font-size: 20px;}
.rtl .search-style-2 .search-form button { margin: 15px 20px 0 15px; padding: 0; color: #999;}


/*===============================================================
		4. Topbar Menu
===============================================================*/
.rtl .topbar .menu-item-has-children ul {right:0;left:inherit;float:right;text-align:right;}
.rtl .topbar .menu-item-has-children ul li.menu-item {text-align:right;}

.rtl .topbar .icon {margin-right:5px;margin-left:inherit;}
.rtl .topbar .icon.icon-cart{background:url(../framework/theme-options/images/topbar-mp-icon-cart-rtl.png) no-repeat center center!important; }

.rtl .topbar .pro-downloads ul li.edd_download_thumbnail {float:right; padding:17px 17px 0px 15px}
.rtl .topbar .pro-downloads ul li.edd_download_thumbnail:nth-child(even) {padding-right:17px;padding-left:0;}
.rtl .topbar .pro-downloads ul li.edd_download_thumbnail:nth-child(even) img {margin-right:inherit;margin-left:0;}

.rtl .topbar .pro-dashboard li:nth-child(1n+2) {float:right;}
.rtl .topbar .pro-dashboard li.dashboard {border-left: 1px solid #f4f4f4;}
.rtl .topbar .pro-dashboard li.earnings{border-left:1px solid #f4f4f4;}

.rtl .topbar .pro-dashboard .my-items{-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-left-radius: 5px;}
.rtl .topbar .pro-dashboard .earnings{-webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px;}

.rtl .topbar .pro-wishlist li.menu-item a {text-align:right;}
.rtl .topbar .pro-wishlist li.menu-item .edd-wl-item-count	{float:left;}

.rtl .topbar .pro-vendor .heading {text-align:right!important;}
.rtl .topbar .pro-vendor .heading img {margin:0 0 0px 10px}

.rtl .topbar .pro-vendor .heading .avatar {float:right;display:inline-block;}

.rtl ul.edd-cart li a.edd-remove-from-cart {float:left;}

.rtl .topmenu .menu-item.search-form  {margin-right:10px;margin-left:0;}
.rtl .topbar-features li.pro-vendor li a {padding-right:10px}




/*===============================================================
		5. Widgets
===============================================================*/

.rtl .widget_edd_product_details.widget-style-two .price-button span.text {float: left;}
.rtl .widget_edd_product_details.widget-style-two .price-button .price {padding-left: 20px;padding-right: 0;}
.rtl .widget_edd_product_details.widget-style-two a.edd-add-to-cart .edd-add-to-cart-label:before {padding-left: 10px;float: right; padding-right: 0;}
.rtl .widget_edd_product_details.widget-style-two a.edd_go_to_checkout:before {padding-right: 0;float: right;padding-left: 10px;}
.rtl .widget_edd_product_details.widget-style-two .edd-wl-action i {padding-right:0px; padding-left:0px;}

.rtl .widget-mk-kiwi img {float: right;margin:/* 5px 0 10px 20px; */0px 0 5px 0px}
.rtl .sidebar-widget .widget_title h3 {padding-left: 10px;padding-right: 0;float:right}

.rtl .widget-mk-kiwi .pull-right {float:left!important;}
.rtl .widget-mk-kiwi .pull-left {float:right!important;}

.rtl .widget-mk-kiwi li {text-align:right}
.rtl .widget-mk-kiwi li .mp-widget-avatar {float:right!important;margin:5px 0 10px 20px}

.rtl .widget_marketplace_item_demolink a i {padding-right:0;padding-left:0;}
.rtl .sidebar-widget.widget_edd_product_details .price{text-align:right}

/*===============================================================
		6. Widget :: Accordion
===============================================================*/
.rtl ul.main-menu li a span.dcjq-count {float:left;}
.rtl ul.main-menu li ul li { margin-left: 0;border-left:0; border-right: 1px dashed #e1e1e1; margin-right: 10px;}
.rtl ul.main-menu li ul li a {padding: 2px 10px 2px 0;}

/*===============================================================
		7. Comment
===============================================================*/
.rtl h3.comment-reply-title span {padding-left: 10px;padding-right: 0;}

.rtl ol.commentlist li {padding-right: 90px;padding-left:inherit}
.rtl ol.commentlist .avatar {float: right;margin: 0 -90px 0 0;}
.rtl ol.commentlist cite {float: right;}
.rtl ol.commentlist .reply-meta {float: left;}
.rtl ol.commentlist .reply-meta span.reply { margin-right: 15px;}

/*===============================================================
		8. REVIEW
===============================================================*/
.rtl .mp-vc-items .edd_star_rating {float: right;}

.rtl .comment_form_rating label {float: right;margin-right: 0;}
.rtl .comment_form_rating .edd_reviews_rating_box {float: right;}
.rtl .comment_form_rating .edd_reviews_rating_box a {float: left;}
.rtl .comment_form_rating .edd_star_rating {float:right;}

/* .rtl .mp-vc-items .edd_star_rating {background:url(../framework/theme-options/images/img-star-rating.png) repeat-x scroll right top;}
.rtl .edd_star_rating{background: url(../framework/theme-options/images/img-star-rating.png) repeat-x scroll right top;}
.rtl .edd_reviews_rating_box  {background: url(../framework/theme-options/images/img-star-rating.png) repeat-x scroll right bottom;}
 */
/*===============================================================
		9. Checkout + Cart
===============================================================*/
.rtl #edd_checkout_cart th, .rtl #edd_checkout_cart td{text-align: right;}
.rtl #edd_checkout_cart td img {margin: 0 0 10px 15px;float: right;}
.rtl fieldset#edd_checkout_user_info span legend, .rtl fieldset#edd_register_account_fields span legend {padding-left: 10px;;padding-right:inherit}
.rtl #edd_checkout_form_wrap .edd-payment-icons img.payment-icon {margin: 0 0 0 3px ;float: right;}

.rtl .widget_edd_cart_widget ul.edd-cart li a.edd-remove-from-cart, .rtl ul.edd-cart li a.edd-remove-from-cart {float: left;}

.rtl .kiwi-edd-purchase-receipt {direction: rtl;}

/*===============================================================
		10. Archives
===============================================================*/
.rtl .marketplace .grid-view ul li {float:right;text-align:right}

.rtl .marketplace .grid-view.one-columns li{width:100%;margin-left:0%;margin-right:0!important}
.rtl .marketplace .grid-view.two-columns li{width:49%;margin-left:2%;margin-right:0!important}
.rtl .marketplace .grid-view.three-columns li{width:32%;margin-left:2%;margin-right:0!important}
.rtl .marketplace .grid-view.four-columns li{width:23.5%;margin-left:2%;margin-right:0!important}

.rtl .marketplace .grid-view.two-columns li:nth-child(2n+2),
.rtl .marketplace .grid-view.three-columns li:nth-child(3n+3),
.rtl .marketplace .grid-view.four-columns li:nth-child(4n+4) {margin-left:0;}



/*===============================================================
		11. Footer
===============================================================*/
.rtl .widget-mk-kiwi .mp-widget-avatar { margin-right:0;}
.rtl .footer .widget-mk-kiwi li {padding: 15px 0 !important;}




 
/** RESPONSIVE **/
@media (max-width:320px) { 

.rtl .mp-vc-items .grid-view.one-columns li,
.rtl .mp-vc-items .grid-view.two-columns li,
.rtl .mp-vc-items .grid-view.three-columns,
.rtl .mp-vc-items .grid-view.four-columns {width:100%!important;margin-right:0%;margin-bottom:20px;}

.rtl .mp-vc-items .grid-view.two-columns li:nth-child(2n+2),
.rtl .mp-vc-items .grid-view.three-columns li:nth-child(3n+3),
.rtl .mp-vc-items .grid-view.four-columns li:nth-child(4n+4) {margin-right:0!important;}

}

@media (min-width:321px) and (max-width:480px) {

.rtl .mp-vc-items .grid-view.one-columns li,
.rtl .mp-vc-items .grid-view.two-columns li,
.rtl .mp-vc-items .grid-view.three-columns li,
.rtl .mp-vc-items .grid-view.four-columns li{width:100%!important;margin-right:0%;margin-bottom:20px;}

.rtl .mp-vc-items .grid-view.two-columns li:nth-child(2n+2),
.rtl .mp-vc-items .grid-view.three-columns li:nth-child(3n+3),
.rtl .mp-vc-items .grid-view.four-columns li:nth-child(4n+4) {margin-right:0!important;}
}


@media (min-width:481px) and (max-width:767px) {
.rtl .mp-vc-items .grid-view.two-columns li{width:47.5%!important;}
.rtl .mp-vc-items .grid-view.two-columns li:nth-child(even){margin-right:0;}
.rtl .mp-vc-items .grid-view.three-columns li{width:47.5%!important;}
.rtl .mp-vc-items .grid-view.three-columns li:nth-child(even){margin-right:0;}
.rtl .mp-vc-items .grid-view.three-columns li:nth-of-type(3n+3){margin-right:0!important;margin-left:2%;}


.rtl .mp-vc-items .grid-view.four-columns li{width:47.5%!important;}
.rtl .mp-vc-items .grid-view.four-columns li:nth-child(even){margin-right:0;}

}


@media (min-width: 768px) and (max-width: 979px) {

.rtl .mp-vc-items .grid-view.two-columns li{width:48.5%!important;}
.rtl .mp-vc-items .grid-view.two-columns li:nth-child(even){margin-right:0!important;}
.rtl .mp-vc-items .grid-view.three-columns li{width:31.3%!important;}
.rtl .mp-vc-items .grid-view.three-columns li:nth-of-type(3n+3){margin-right:0!important;}
.rtl .mp-vc-items .grid-view.four-columns li{width:31.3%!important;}

.rtl .mp-vc-items .grid-view.four-columns li:nth-of-type(4n+4){margin-left:2%;}
.rtl .mp-vc-items .grid-view.four-columns li:nth-of-type(3n+3){margin-right:0!important;margin-left:0}
}

@media (min-width:980px) and (max-width:1200px){

.rtl .mp-vc-items .grid-view.two-columns li{width:48.5%!important;}
.rtl .mp-vc-items .grid-view.two-columns li:nth-child(even){margin-right:0;}
.rtl .mp-vc-items .grid-view.three-columns li{width:31.3%!important;}
.rtl .mp-vc-items .grid-view.three-columns li:nth-of-type(3n+3){margin-right:0;}
.rtl .mp-vc-items .grid-view.four-columns li{width:22.75%!important;}
.rtl .mp-vc-items .grid-view.four-columns li:nth-of-type(4n+4){margin-right:0;}

}









