.pace { background:#fff;width:100%;height:100%;  -webkit-pointer-events: none;  pointer-events: none;  -webkit-user-select: none;  -moz-user-select: none;  user-select: none;  display:table;  z-index: 2000;  position: fixed;  margin: auto;  top: 0;  left: 0;  right: 0;  bottom: 0;}
.pace-inactive {display: none;}
.pace .pace-progress {
background: #83bee2; 
background: -moz-linear-gradient(left,  #83bee2 0%, #80dcd6 100%);
background: -webkit-linear-gradient(left,  #83bee2 0%,#80dcd6 100%); 
background: linear-gradient(to right,  #83bee2 0%,#80dcd6 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83bee2', endColorstr='#80dcd6',GradientType=1 );
position: fixed;  z-index: 2000;  top: 0;  right: 100%;  width: 100%;  height:10px;}
.pace-done {  }