/* .styled-background .mp-vc-featured-author  .author{ background: #fff none repeat scroll 0 0; padding: 20px;}
 */
.standard-style .sidebar-widget.widget_edd_fpd {background:#fdfdfd;}
.standard-style .marketplace .btn-group.stats .btn-default{background:#FDFDFD;}
.standard-style .widget-style-two.author.author-freelancework {background:#FDFDFD;}
.standard-style .widget_edd_product_details.widget-style-two .disclaimer {background:#FDFDFD;}
.standard-style .marketplace .essb_links.essb_template_grey-blocks-retina li a {background:#FDFDFD;}
.standard-style .product-description .small-responsive{background:#FDFDFD;}
.standard-style .marketplace .thumb-preview .edd-di-image{background:#FDFDFD;}

.standard-style .widget-style-two.author {padding:20px;background:#FDFDFD; }
.standard-style .sidebar-widget.widget_edd_product_details {background:#FDFDFD}


.styled-background .sidebar-widget.widget_edd_fpd {background:#fff;}
.styled-background .marketplace .btn-group.stats .btn-default{background:#fff;}
.styled-background .widget-style-two.author.author-freelancework {background: #fff; }
.styled-background .widget_edd_product_details.widget-style-two .disclaimer {background: #fff; }
.styled-background .marketplace .essb_links.essb_template_grey-blocks-retina li a {background: #fff; }
.styled-background .product-description .small-responsive{background:#fff;}
.styled-background .marketplace .thumb-preview .edd-di-image{background:#fff;}


.styled-background .mp-ext-edd-file-upload {background:#fff;border:1px solid #e8e8e8;padding:20px;margin-bottom:40px;}
.styled-background .mp-ext-edd-file-upload #edd_checkout_user_info span {margin-top:5px}
.styled-background .mp-ext-edd-file-upload fieldset {padding:0!important}



.styled-background .marketplace-standard.full-description{background:#fff;border:1px solid #e8e8e8;padding:20px;}
.styled-background .marketplace-commentform {background:#fff;border:1px solid #e8e8e8;padding:20px; margin-top:40px;margin-bottom:40px;}
.styled-background .marketplace .sidebar-widget:last-child {margin-bottom:40px;}

.styled-background .widget-style-two.author {padding:20px;background:#fff; }
.styled-background .sidebar-widget.widget_edd_product_details {background:#fff}



.styled-background .mp-product-description {padding:20px;background:#fff;border:1px solid #e8e8e8;margin-top:40px;}
.styled-background.single-download .footer-combined {margin-top:50px;}
 
.styled-background .edd-points-product-message{padding:20px;background:#fff;border:1px solid #e8e8e8;margin-bottom:20px;} 
.styled-background .edd-points-checkout-message {padding:20px!important;background:#fff;border:1px solid #e8e8e8!important;margin-bottom:20px;}
.styled-background .edd-points-redeem-points-wrap{padding:20px!important;background:#fff;border:1px solid #e8e8e8!important;margin-bottom:20px;}
.styled-background .edd-points-redeem-message {padding-top:8px;margin-right:140px;}


.single-post.styled-background .has-post-thumbnail .gallery-content {padding:20px;background:#fff; }
.single-post.styled-background .format-video .video-content,
.single-post.styled-background .format-audio .audio-content{padding:20px;background:#fff;}

.single-post.styled-background  .format-aside .content-block,
.single-post.styled-background  .format-link .link-content,
.single-post.styled-background  .format-quote .quote-content,

.single-post.styled-background  .format-status .status-block,
.single-post.styled-background  .format-chat .chat-block,
.single-post.styled-background  .format-gallery .gallery-block {padding:20px;background:#fff;}


.styled-background .edd-csau-products {padding:20px;background:#fff;border:1px solid #e8e8e8;margin-bottom:20px;}
.styled-background .edd-csau-products .edd_widget_title {margin-top:5px}


.styled-background  .entry-attachment .image-content {padding:20px;background:#fff;margin-bottom:40px;}

.styled-background .container.kiwi-content .fullwidth .entry-content.kiwi-page .edd-wl-edit {padding:5px 20px 20px 20px;background:#fff;margin-bottom:40px;}
.styled-background .container.kiwi-content .fullwidth .entry-content.kiwi-page .edd-wl-wish-lists  {padding:20px;background:#fff;margin-bottom:40px;}

.styled-background .sidebar .sidebar-widget.widget_marketplace_item_stats,
.styled-background .sidebar-widget.widget_edd_product_details.widget-style-two,
.styled-background .sidebar-widget.widget_edd_author_widget_two  {padding:0!important;border:0!important;background:none!important}
 
.styled-background  .post-type-archive-download .marketplace .sidebar, 
.styled-background .archive.tax-download_category .sidebar, 
.styled-background .sidebar-widget.widget_edd_cart_widget,
.styled-background .sidebar-layout .widget_edd_categories_cat_widget,
.styled-background .sidebar-layout .widget_marketplace_widget_tags {padding:20px;background:#fff;border:1px solid #e8e8e8;}

.styled-background .edd_downloads_list.edd_download_columns_0 .edd_download{padding:10px;background:#fff;border:1px solid #e8e8e8;}

.styled-background .post-layout .post.type-post {border:1px solid #e8e8e8;}

/* .styled-background .sidebar .sidebar-widget{background:#fff;border:1px solid #e8e8e8;padding:20px;margin-bottom:40px} */
/* .styled-background .sidebar .sidebar-widget:last-child {margin-bottom:0} */
.styled-background .fes_login_registration_form_row {padding:0 20px 20px 20px;background:#fff;border:1px solid #e8e8e8;width:100%!important}
 
/* .styled-background .layout-sorting.grid_style_one li.slick-slide {border: 1px solid #E8E8E8; padding:15px; background: #fcfcfd; } */
.styled-background .layout-sorting.grid_style_one .iso-desc { padding-bottom: 0 !important;}

/* .styled-background .layout-sorting.grid_style_two li.slick-slide {border: 1px solid #E8E8E8; padding:15px; background: #fcfcfd; }
 */
.styled-background .disable li{border:0!important; padding:0!important; background:none!important}


/* .styled-background .category-page{padding:20px;background:#fff;border:1px solid #e8e8e8;margin-bottom:40px;}
 */
/* blog posts */
.styled-background .post-standard.no-featuredimage {border:0}
.styled-background  .blog.sidebar-layout .sidebar-widget,
.styled-background  .post-layout .kiwi-single-pt, 
.styled-background  .post-layout .post-preview-nav {padding:20px;background:#fff;border:1px solid #e8e8e8;margin-bottom:40px;}

/* .styled-background .post-layout .comments-area{padding:20px;background:#fff;border:1px solid #e8e8e8;} */
.styled-background .metadata-single {padding-bottom:0}
.styled-background .post-preview-nav .edd_widget_title {margin-top:0}
.styled-background .author-info .author-right {background:#fff;-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);}

/* .styled-background .post-layout .comments-area { margin: 40px auto;} */
.styled-background .container .marketplace .content-no-post{padding:20px;background:#fff;border:1px solid #e8e8e8;}

.styled-background .search-layout .content-no-post {padding:20px;background:#fff;border:1px solid #e8e8e8;}
.styled-background .sidebar-layout .blog .sidebar-widget{padding:20px;background:#fff;border:1px solid #e8e8e8;}

.styled-background .marketplace .sidebar-widget{padding:20px;background:#fff;border:1px solid #e8e8e8;}


/* .styled-background .filter-view ul li{display:inline-block;border:1px solid #E8E8E8;padding:11.7px;background:#fcfcfd;float:left;margin-bottom:1.4%; margin-right:1.4%; }
.styled-background .filter-view .fes-thumb li{padding:5.7px;}
 */

.styled-background .widget_edd_software_specs_widget table#isa-edd-specs {border:0;padding: 0;}

.styled-background .widget_marketplace_item_demolink, 
.widget_marketplace_item_stats {border:0!important; padding:0!important; background:none!important}

.styled-background #edd_discount_code {margin-top:20px;}

.styled-background .mp-edd-recommended-items-checkout {margin-bottom:20px;}

@media (max-width:767px){
.styled-background .fes-login-registration-combo #fes_login_registration_form_row_left,
.styled-background .fes-login-registration-combo #fes_login_registration_form_row_right{margin-right:0%}

.styled-background .fes-login-registration-combo #fes_login_registration_form_row_left{margin-bottom:20px}
}