/*===============================================================
	Kiwi :: Widgets
===============================================================*/

.rtl .widget_archive .full .year h3{margin: 0 0 15px 15px;}
.rtl .full ul.kiwi-archive-list li .archive-count {float: left;}

.rtl .widget_recent_comments .avatar img {margin:5px 0 10px 15px}
.rtl .widget_recent_comments .avatar {float:right;}

.rtl .widget_recent_entries ul li .post-widget-image img {margin:5px 0 0px 0px;height: auto;}
.rtl .widget_recent_entries ul li .post-widget-image {float: right;width: 25%;margin-right: inherit;margin: 0 0 10px 10px;}


/*===============================================================
	Kiwi :: Posts
===============================================================*/
.rtl .post-standard .pull-left{float:right!important}
.rtl .post-standard .pull-right{float:left!important}

.rtl .post-previous, .rtl .post-next {float: right;}

.rtl .pull-right.comment-edit-link {float:left!important}




.rtl .errorpage-404, .rtl .pagetitle, .rtl .widget_meta, .rtl .category-page{direction:rtl}
.rtl .pagetitle{direction:rtl;text-align:right;}

.archive.rtl .pull-left {float:right!important;}
.archive.rtl .pull-right {float:left!important;} 