.fa.fa-check {color:#28b779}
.fa.fa-times {color:#f43059}

.tablepress-id-1 .product.woocommerce.add_to_cart_inline {margin-top: 20px;}

.tablepress td,.tablepress th {padding: 5px;}

.tablepress tbody tr:first-child td {font-size: 20px;}

.tablepress-id-1 .row-2 .column-1{background:#f1f1f1;}
.tablepress-id-1 .row-1 td,.tablepress-id-1 .row-3 td,.tablepress-id-1 .row-9 td,.tablepress-id-1 .row-17 td,.tablepress-id-1 .row-23 td {	background: none !important;}

.tablepress-id-1 .row-3 .column-1,.tablepress-id-1 .row-17 .column-1,.tablepress-id-1 .row-9 .column-1,.tablepress-id-1 .row-23 .column-1 {	font-weight: bold;	padding-top: 25px;}
.tablepress-id-1,.tablepress-id-1 tr,.tablepress-id-1 tbody td,.tablepress-id-1 thead th,.tablepress-id-1 tfoot th {	border: none !important;}
.tablepress-id-1 .column-2,.tablepress-id-1 .column-3,.tablepress-id-1 .column-4,.tablepress-id-1 .column-5 {text-align: center;}

.tablepress-id-1 .row-1 .column-2,.tablepress-id-1 .row-1 .column-3,.tablepress-id-1 .row-1 .column-4,.tablepress-id-1 .row-1 .column-5 {	color: #fff;	padding: 10px 5px;	font-size: 20px;}

.tablepress-id-1 .row-1 .column-2 {
	border-bottom: 1px solid #749934;
	background-color: #90ad42 !important;
	background-image: linear-gradient(top,#b2c659,#8cab42) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2c659',endColorstr='#8cab42') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2c659',endColorstr='#8cab42') !important;
	background: -ms-linear-gradient(top,#b2c659,#8cab42) !important;
	background: -moz-linear-gradient(top,#b2c659,#8cab42) !important;
	background: -o-linear-gradient(top,#b2c659,#8cab42) !important;
	background: -webkit-linear-gradient(top,#b2c659,#8cab42) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b2c659),color-stop(1,#8cab42)) !important;
}

.tablepress-id-1 .row-1 .column-3 {
	border-bottom: 1px solid #4c7532;
	background-color: #5f8d3d !important;
	background-image: linear-gradient(top,#82b355,#608d3e) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82b355',endColorstr='#608d3e') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82b355',endColorstr='#608d3e') !important;
	background: -ms-linear-gradient(top,#82b355,#608d3e) !important;
	background: -moz-linear-gradient(top,#82b355,#608d3e) !important;
	background: -o-linear-gradient(top,#82b355,#608d3e) !important;
	background: -webkit-linear-gradient(top,#82b355,#608d3e) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#82b355),color-stop(1,#608d3e)) !important;
}

.tablepress-id-1 .row-1 .column-4 {
	border-bottom: 1px solid #235d39;
	background-color: #2c7548 !important;
	background-image: linear-gradient(top,#3c9f62,#2c7548) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c9f62',endColorstr='#2c7548') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c9f62',endColorstr='#2c7548') !important;
	background: -ms-linear-gradient(top,#3c9f62,#2c7548) !important;
	background: -moz-linear-gradient(top,#3c9f62,#2c7548) !important;
	background: -o-linear-gradient(top,#3c9f62,#2c7548) !important;
	background: -webkit-linear-gradient(top,#3c9f62,#2c7548) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3c9f62),color-stop(1,#2c7548)) !important;
}

.tablepress-id-1 .row-1 .column-5 {
	border-bottom: 1px solid #0b4a46;
	background-color: #0e5b56 !important;
	background-image: linear-gradient(top,#147e78,#0e5d58) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#147e78',endColorstr='#0e5d58') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#147e78',endColorstr='#0e5d58') !important;
	background: -ms-linear-gradient(top,#147e78,#0e5d58) !important;
	background: -moz-linear-gradient(top,#147e78,#0e5d58) !important;
	background: -o-linear-gradient(top,#147e78,#0e5d58) !important;
	background: -webkit-linear-gradient(top,#147e78,#0e5d58) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#147e78),color-stop(1,#0e5d58)) !important;
}

.tablepress-id-1 .row-2 .column-2,.tablepress-id-1 .row-2 .column-3,.tablepress-id-1 .row-2 .column-4,.tablepress-id-1 .row-2 .column-5 {font-size: 30px;padding-bottom: 15px !important;}
.tablepress-id-1 .row-2 .column-2 span.dm,.tablepress-id-1 .row-2 .column-3 span.dm,.tablepress-id-1 .row-2 .column-4 span.dm,.tablepress-id-1 .row-2 .column-5 span.dm {	display: block;	height: 1px !important;	padding: 0;	margin: 0;}
.tablepress-id-1 .row-2 .column-2 span,.tablepress-id-1 .row-2 .column-3 span,.tablepress-id-1 .row-2 .column-4 span,.tablepress-id-1 .row-2 .column-5 span {font-size: 14px;}
.tablepress-id-1 .row-2 .column-2,.tablepress-id-1 .row-2 .column-3,.tablepress-id-1 .row-2 .column-4,.tablepress-id-1 .row-2 .column-5 {padding: 0;color: #fff;}

.tablepress-id-1 .row-2 .column-2 span.dm {
	background-color: #cbd877 !important;
	background-image: linear-gradient(left,#cbd877,#e3eaac 50%,#cbd877) !important;
	background: -ms-linear-gradient(left,#cbd877,#e3eaac 50%,#cbd877) !important;
	background: -moz-linear-gradient(left,#cbd877,#e3eaac 50%,#cbd877) !important;
	background: -o-linear-gradient(left,#cbd877,#e3eaac 50%,#cbd877) !important;
	background: -webkit-linear-gradient(left,#cbd877,#e3eaac 50%,#cbd877) !important;
	background: -webkit-gradient(linear,left top,right top,color-stop(0,#cbd877),color-stop(0.5,#e3eaac),color-stop(1,#cbd877)) !important;
}

.tablepress-id-1 .row-2 .column-3 span.dm {
	background-color: #a5ca6d !important;
	background-image: linear-gradient(left,#a5ca6d,#cee29e 50%,#a5ca6d) !important;
	background: -ms-linear-gradient(left,#a5ca6d,#cee29e 50%,#a5ca6d) !important;
	background: -moz-linear-gradient(left,#a5ca6d,#cee29e 50%,#a5ca6d) !important;
	background: -o-linear-gradient(left,#a5ca6d,#cee29e 50%,#a5ca6d) !important;
	background: -webkit-linear-gradient(left,#a5ca6d,#cee29e 50%,#a5ca6d) !important;
	background: -webkit-gradient(linear,left top,right top,color-stop(0,#a5ca6d),color-stop(0.5,#cee29e),color-stop(1,#a5ca6d)) !important;
}

.tablepress-id-1 .row-2 .column-4 span.dm {
	background-color: #4fbd81 !important;
	background-image: linear-gradient(left,#4fbd81,#72dbba 50%,#4fbd81) !important;
	background: -ms-linear-gradient(left,#4fbd81,#72dbba 50%,#4fbd81) !important;
	background: -moz-linear-gradient(left,#4fbd81,#72dbba 50%,#4fbd81) !important;
	background: -o-linear-gradient(left,#4fbd81,#72dbba 50%,#4fbd81) !important;
	background: -webkit-linear-gradient(left,#4fbd81,#72dbba 50%,#4fbd81) !important;
	background: -webkit-gradient(linear,left top,right top,color-stop(0,#4fbd81),color-stop(0.5,#72dbba),color-stop(1,#4fbd81)) !important;
}

.tablepress-id-1 .row-2 .column-5 span.dm {
	background-color: #199f98 !important;
	background-image: linear-gradient(left,#199f98,#24cbc7 50%,#199f98) !important;
	background: -ms-linear-gradient(left,#199f98,#24cbc7 50%,#199f98) !important;
	background: -moz-linear-gradient(left,#199f98,#24cbc7 50%,#199f98) !important;
	background: -o-linear-gradient(left,#199f98,#24cbc7 50%,#199f98) !important;
	background: -webkit-linear-gradient(left,#199f98,#24cbc7 50%,#199f98) !important;
	background: -webkit-gradient(linear,left top,right top,color-stop(0,#199f98),color-stop(0.5,#24cbc7),color-stop(1,#199f98)) !important;
}

.tablepress-id-1 .row-2 .column-2 {
	background-color: #90ad42 !important;
	background-image: linear-gradient(top,#afc457,#90ad42) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afc457',endColorstr='#90ad42') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afc457',endColorstr='#90ad42') !important;
	background: -ms-linear-gradient(top,#afc457,#90ad42) !important;
	background: -moz-linear-gradient(top,#afc457,#90ad42) !important;
	background: -o-linear-gradient(top,#afc457,#90ad42) !important;
	background: -webkit-linear-gradient(top,#afc457,#90ad42) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#afc457),color-stop(1,#90ad42)) !important;
}

.tablepress-id-1 .row-2 .column-3 {
	background-color: #5f8d3d !important;
	background-image: linear-gradient(top,#7ead50,#5f8d3d) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ead50',endColorstr='#5f8d3d') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ead50',endColorstr='#5f8d3d') !important;
	background: -ms-linear-gradient(top,#7ead50,#5f8d3d) !important;
	background: -moz-linear-gradient(top,#7ead50,#5f8d3d) !important;
	background: -o-linear-gradient(top,#7ead50,#5f8d3d) !important;
	background: -webkit-linear-gradient(top,#7ead50,#5f8d3d) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#7ead50),color-stop(1,#5f8d3d)) !important;
}

.tablepress-id-1 .row-2 .column-4 {
	background-color: #2c7548 !important;
	background-image: linear-gradient(top,#3a985f,#2c7548) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a985f',endColorstr='#2c7548') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a985f',endColorstr='#2c7548') !important;
	background: -ms-linear-gradient(top,#3a985f,#2c7548) !important;
	background: -moz-linear-gradient(top,#3a985f,#2c7548) !important;
	background: -o-linear-gradient(top,#3a985f,#2c7548) !important;
	background: -webkit-linear-gradient(top,#3a985f,#2c7548) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3a985f),color-stop(1,#2c7548)) !important;
}

.tablepress-id-1 .row-2 .column-5 {
	background-color: #0e5b56 !important;
	background-image: linear-gradient(top,#137872,#0e5b56) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#137872',endColorstr='#0e5b56') !important;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#137872',endColorstr='#0e5b56') !important;
	background: -ms-linear-gradient(top,#137872,#0e5b56) !important;
	background: -moz-linear-gradient(top,#137872,#0e5b56) !important;
	background: -o-linear-gradient(top,#137872,#0e5b56) !important;
	background: -webkit-linear-gradient(top,#137872,#0e5b56) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#137872),color-stop(1,#0e5b56)) !important;
}