div.fes-form fieldset .fes-label { float:none!important;}
#cmb2-metabox-_cmb2_metabox_featured_item .cmb-row{padding:10px 0 0!important;}
.cmb-repeat-group-wrap .cmb2-wrap > .cmb-field-list > .cmb-row, .postbox-container .cmb2-wrap > .cmb-field-list > .cmb-row {padding:5px 0 15px !important;}
.cmb-th label {padding: 0!important;}
.cmb-repeatable-group:last-of-type, .cmb-row:last-of-type, .cmb2-wrap .cmb-row:last-of-type {margin-bottom: 0 !important;}

.edd_star_rating{background: url(../theme-options/images/img-star-rating.png) repeat-x scroll left top;}
#edd-reviews-list h4 {margin-bottom: 0!important;}