.vc_element-icon.icon-kiwi-animation{ background-image: url(images/vc-icon-animation.png)!important; background-position: 0px 0px!important; }
.vc_element-icon.icon-kiwi-buttons{ background-image: url(images/vc-icon-buttons.png)!important; background-position: 0px 0px!important; }
.vc_element-icon.icon-kiwi-counter{ background-image: url(../images/vc-icon-counter.png)!important; background-position: 0px 0px!important; }
.vc_element-icon.icon-kiwi-review{ background-image: url(../images/vc-icon-review.png)!important; background-position: 0px 0px!important; }
